.height-page {
    display: flex;
    flex-direction: column;
}

.height-page-container{
    margin-top: 4.2rem;
    display: flex;
    flex-direction: column;
}

.height-heading {
    width: 100%;
    line-height: 2rem;
    background: #BF94D4;  
}

.height-heading h1 {
    color: #740A8F;
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.height-page-content {
    margin-top: 4rem; 
    font-family: 'poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem; 
}

.height-steps-textbox {
    display: flex; 
    gap: 1rem; 
    border: 1px solid #ccc; 
    border-radius: 2rem; 
    width: 20rem;
    height: 18rem;
    background: #C0AAFE;
}

.height-step-image {
    width: 4rem;
    height: 12rem;
    margin: 3rem 0.3rem 4rem 1rem;
    border-radius: 1rem;
}

.height-step-texts p {
    color: #670B92;
    font-size: 1rem;
}

.height-video{
    width: 20rem;
    border-radius: 1rem;
}

.height-page-content p{
    color: #842EA2;
    font-family: DM Serif Display;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
}

.height-step-texts {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 0;
}

.height-complete-guidence{
    margin-bottom: 3rem;
    width: 20rem;
    height: 12rem;
    background: #D9C5F4;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.height-complete-guidence p{
    color: rgb(101, 3, 3);
    text-align: center;
    justify-content: center;
}

.height-finish-test-btn{
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    background: #730505;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border: none; 
}

/*------------------tab--------------------*/

@media only screen and (min-width: 768px) {
    .height-page-container{
        margin-top: 6.5rem;
    }

    .height-heading {
        width: 100%;
        line-height: 4rem; 
    }
    
    .height-heading h1 {
        font-size: 2.5rem;
        margin-left:3rem;
    }

    .height-steps-textbox {
        gap:0; 
        border-radius: 1rem; 
        align-items: center;
        width: 30rem;
        height: 28rem;
    }
    
    .height-step-image {
        width: 8rem;
        height: 20rem;
        padding: 1rem;
        border-radius: 1.5rem;
    }
    
    .height-video{
        width: 38rem;
        height: 25rem;
    }

    .height-page-content p{
        font-size: 1.3rem;
    }
    
    .height-step-texts {
        margin: 1rem;
    }
    
    .height-step-texts p {
        font-size: 1.3rem;
    }

    .height-complete-guidence{
        width: 30rem;
        height: 17rem;
    }
    
    .height-complete-guidence p{
      font-size: 1.5rem;
    }
    
    .height-finish-test-btn{
        width: 13rem;
        height: 4rem;
        font-size: 1.5rem;
    }  
}

/*-----------------------desktop---------------------*/

@media only screen and (min-width: 1200px){
    .height-page-container{
        margin-top: 8.5rem;
        margin-bottom: 3rem;
    }

    .height-heading {
        width: 100%;
        line-height: 4rem; 
    }
    
    .height-heading h1 {
        font-size: 2.5rem;
        margin-left: 5rem;
    }
    
    .height-page-content {
        flex-direction: column;
        margin-top: 4rem;
    }
    
    .height-page-left-section {
        gap: 3rem; 
        margin-right: 3rem;
    }
    
    .height-steps-textbox {
        width: 36rem;
        height: 25rem;
    }
    
    .height-step-image {
        width: 8rem;
        height: 20rem;
        padding: 1rem;
    }

    .height-page-content p{
        font-size: 1.5rem;
    }
    
    .height-step-texts {
        margin: 1rem;
    }
    
    .height-step-texts p {
        font-size: 1.5rem;
        /* font-family: 'poppins'; */
    }
    .height-complete-guidence{
        width: 36rem;
        height: 15rem;
    }
}