.welcome-page-container{
  display: flex;
  flex-direction: column;
}

.welcome-container{
  position: relative;
  z-index: 0;
  text-align: center;
  font-family: 'poppins';
  width: 90%;
  max-width:1200px;
  margin: 5rem 0 2rem 1rem;
}

.welcome-content h1 {
  color: #5B3290;
  font-size: 2rem;
  font-weight: 600;
}

video {
  width: 100%;
  height: auto;
}

.welcome-buttons {
  margin-bottom: 2rem;
}

.welcome-sign-up-button, .welcome-log-in-button {
  display: inline-block; 
  text-decoration: none;  
  color: inherit;        
  text-align: center;     
  line-height: 2.5rem;
  width: 8rem;
  border-radius: 2rem;
  border: 1px solid #9a54e1;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease; 
}

.welcome-sign-up-button {
  background: #DEB4FF;
}

.welcome-log-in-button {
  background: #FDFBFF;
  margin-left: 20px;
}

  /*----------------------tab----------------------------------*/



@media screen and (min-width: 768px) {
  
  .welcome-container{
    margin: 8rem 0 3rem 3rem;
  }
  
  .welcome-content h1 {
    font-size: 3rem;
  } 

  .welcome-buttons {
    margin-bottom: 3rem;
  }


  video {
    text-align: center;
  }
  
  .welcome-sign-up-button, .welcome-log-in-button {     
    line-height: 4rem;
    width: 14rem;
    font-size: 1.5rem;
  }}


  /*----------------------desktop---------------------------------*/



@media screen and (min-width: 1200px) {
  
  .welcome-container{
    margin: 0rem 0 3rem 4rem;
  }
  
  .welcome-content h1 {
    font-size: 4rem;
    margin-top: 7rem;
  } 

  .welcome-buttons {
    margin-top: -6.5rem;
    margin-left: 38rem;
 
  }

  .video {
    width: 100%;
    
  }
  
  .welcome-sign-up-button, .welcome-log-in-button { 
    position: relative;    
    line-height: 4rem;
    width: 14rem;
    font-size: 1.8rem;
  }
  
  .welcome-sign-up-button{
    background: #c89bf8;
  }

  .welcome-log-in-button {
    background: #f2f1f3;
  }
}


@media screen and (min-width: 1440px) {
  .welcome-container{
    margin: 0rem 0 5rem 10rem;
  }
  
}